html {
  color-scheme: dark;
  background: #101010;
}

body {
  font-family: "CreatureFont", sans-serif;
  margin: 0;
  background: #101010;
}

@font-face {
  font-family: "CreatureFont";
src: url("../../fonts/hp_simplified_rg.ttf");
}



html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}



.slider {
    position: relative;
  z-index: 1;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  transform: translateX(0);
  transition: transform 0.45s ease;
}

.page {
  width: 100vw;
  min-width: 100vw;         
  min-height: 100vh;
  flex-shrink: 0;
}

/* HOME */

.home-page {
   background:

    linear-gradient(
      to bottom,
      rgba(0,0,0,0),
      rgba(0,0,0,0),
      rgba(0,0,0,0),
      rgba(79,30,93,0.5)
    ),

    url("../../images/bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-blend-mode: hard-light;

  height: 100vh;
}

/* ANIMACIÓN */

#slider {
  transform: translateX(0);
  transition: transform 0.4s ease;
}

#slider.active {
  transform: translateX(-28vw);
}









@media (max-width: 768px) and (hover: none) and (pointer: coarse) {
  .home-page {
    width: 100vw !important;
  }
  
  .slider {
    width: 200vw !important;
  }

  .page {
    width: 100vw !important;
    flex-shrink: 0 !important;
  }

}
