legacy-android/app/creature/karasierra.png
legacy-android/app/creature/karalto.png
legacy-android/app/creature/kara_002.png
legacy-android/app/creature/jyushiucha.png
legacy-android/app/creature/jyushi_005.png
legacy-android/app/creature/jyuhound.png
legacy-android/app/creature/illumyushi.png
legacy-android/app/creature/illuchoro.png
legacy-android/app/creature/illuchoro.png
legacy-android/app/creature/c041.png
web-dex/pillar-map/